@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@400;700&display=swap');
*{
    box-sizing: border-box;
    outline: none; border:none;
    margin:0; padding:0;
    transition: .2s linear;
}
html {
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
}
body {
    background-image: url(./assets/blurry-gradient-haikei.png);
    background-repeat: no-repeat;
    background-size: cover;
}
img {
    height: 100%;
    width: 100%;
}
/* Hero Section */
#home {
    max-width: 1500px;
    margin: 0 auto;
    padding: 20px;
}
#home .header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    height: fit-content;
    justify-content: center;
}
#home .header .icon {
    display: grid;
    grid-template-columns: .1fr 1fr;
    text-decoration: none;
    list-style: none;
    align-items: center;
}
#home .header .icon .logo{
    width: 45px;
}
#home .header .icon .typ {
    font-size: 2rem;
    color: black;
}
#home .navigation {
    display: grid;
    margin-left: 0;
    grid-gap: 0px;
    grid-template-columns: .25fr .25fr .25fr .25fr;
    list-style: none;
    align-items: center;
}
#home .navigation .navbar {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    padding: 15px;
    border-radius: 5px;
    transition: background-color .3s;
}
#home .navigation .navbar:hover {
    /* background-color: rgb(243, 241, 241); */
    box-shadow: 2px 2px 10px rgb(110, 237, 237);
}
#home .hero {
    display: grid;
    grid-template-columns: 2fr 2fr;
    min-height: 850px;
    align-items: center;
    padding-left: 50px;
    padding-right: none;
    margin-right: none;
}
#home .hero-home {
    margin: 0;
}
#home .hero-home h1 {
    font-size: 7rem;
    margin: 0;
    color: #263138;
}
#home .hero-home h2 {
    font-size: 3rem;
    font-weight: 100;
    margin: 0;
    color: black;
}
#home .hero .background{
    height: 700px;
    width: 100%;
    overflow: hidden;
    place-content: center;
    place-items: center;
}
#home .hero-home a {
    position: relative;
    top: 100px;
    font-size: 2rem;
    padding: 15px;
    border: 2px solid rgba(65, 243, 243, 0.781);
    text-decoration: none;
    color: white;
    text-shadow: 2px 2px 5px rgb(110, 237, 237);
    box-shadow: 2px 2px 10px rgb(110, 237, 237);
    text-transform: uppercase;
    transition: background-color .3s;
}
#home .hero-home a:hover {
    background-color: rgba(65, 243, 243, 0.781);
    border-color: rgb(65, 243, 243, 0.781);
    text-shadow: 2px 2px 10px rgb(110, 237, 237);
    color: white ;
}
/* End Hero Section */

/* about sectionn */
#about {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 50px;
    /* background-color: #263138; */
}
#about .about-container{
    display: grid;
    grid-template-columns: auto auto;
    place-items: center;
    place-content: center;
    /* background-color: #263138; */
    padding: 0;
}
#about .about-container .profil{
    width: 400px;
    padding: 50px;
}
#about .about-container .profil-me {
    display: grid;
    grid-template-rows: auto auto auto auto;
    justify-items: center;
    padding: 100px;
}
#about .content h1 {
    font-size: 4rem;
    color: #263138;
    text-align: center;
    margin-bottom: 20px;
}
#about .content h1 span{
    color: #445964;
}
#about .content h2 {
    color: #263138;
    text-align: center;
    font-weight: 100;
    letter-spacing: .1rem;
}
#about .fa-solid {
    font-size: 50px;
    color: #445964;
    padding-top: 100px;
}
#about .end-paragraf {
    font-size: 1.5rem;
    color: #263138;
    letter-spacing: .15rem;
    text-align: center;
}
#about .end-paragraf h1 {
    font-weight: 600;
    padding-top: 20px;
}
#about .end-paragraf h2 {
    font-weight: 100;
}
#about .end-paragraf h2 span{
    color: #445964;
}
/* end about section */

/* portofolio section */
#portof {
    max-width: 1300px;
    margin: 0 auto;
    padding: 100px;
}
#portof .heading{
    padding: 50px;
    text-align: center;
    font-size: 4rem;
}
#portof .box-container{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 25px;
}
#portof .box-container .box1 {
    grid-row: 1 / span 2;
    border: .1rem solid #d7d8d9; 
    box-shadow: 2px 2px 10px rgb(110, 237, 237);
}

#portof .box-container .box1 .image{
    height: 25rem;
    overflow:hidden;
    width: 100%;
    background-color: white;
}

#portof .box-container .box1 .image img{
    place-items: center;
    height: 100%;
    object-fit:scale-down;
    width: 100%;
}

#portof .box-container .box1:hover .image img{
    transform: scale(1.1);
}

#portof .box-container .box1 .content{
    padding:2rem;
}

#portof .box-container .box1 .content .title{
    text-decoration: none;
    font-size: 1.5rem;
    line-height: 1.5;
    color:#263138;
    font-weight: bold;
}

#portof .box-container .box1 .content .title:hover{
    text-shadow: 2px 2px 10px rgb(110, 237, 237);
    color: white ;
}

#portof .box-container .box1 .content p{
    font-size: 1.2rem;
    line-height: 1.8;
    color:#263138;
    padding:1rem 0;
}

/* batas */
#portof .box-container .box{
    border: .1rem solid #d7d8d9;   
    box-shadow: 2px 2px 10px rgb(110, 237, 237); 
}

#portof .box-container .box .image{
    height: 20rem;
    overflow:hidden;
    width: 100%;
    background-color: white;
}

#portof .box-container .box .image img{
    place-items: center;
    height: 100%;
    object-fit:scale-down;
    width: 100%;
}

#portof .box-container .box:hover .image img{
    transform: scale(1.1);
}

#portof .box-container .box .content{
    padding:2rem;
}

#portof .box-container .box .content .title{
    text-decoration: none;
    font-size: 1.5rem;
    line-height: 1.5;
    color:#263138;
    font-weight: bold;
}

#portof .box-container .box .content .title:hover{
    text-shadow: 2px 2px 10px rgb(110, 237, 237);
    color: white ;
}

/* #portof .box-container .box .content p{
    font-size: 1.6rem;
    line-height: 1.8;
    color:#263138;
    padding:1rem 0;
} */

/* portofolio section end */


/* Responsive break point */
@media screen and (max-width: 1024px) {
    #home {
        order: inherit;   
    }
}

@media screen and (max-width: 768px) {
    #home .header {
        display: grid;
        grid-template-columns: 1fr;
    }
    #home .header .icon{
        display: none;
    }
    /* #home .header .navigation {
        grid-template-columns: ;
    } */
    #home .hero .hero-home {
        justify-items: center;
    }
    #home .hero .hero-home h1{
        font-size: 4.5rem;
    }
    #home .hero .gambar {
        display: none;
    }
/* End Home */

    #about .about-container .profil{
        display: none;
    }

}

@media screen and (max-width: 500px) {

}
