@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Playfair+Display&family=Roboto:wght@400;700&display=swap');
*{
    box-sizing: border-box;
    outline: none; border: none;
    margin:0; padding:0;
    transition: .15s linear;
}
html {
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}
body {
    max-width: 100%;
    background-size: cover;
    background-color: #171F23;
    overflow-x: hidden;
}
img {
    height: 100%;
    width: 100%;
}
h1 {
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    font-size: 70px;
    color: white;
}
h1 span{
    color: #EFB442;
}
h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
}
p {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}
a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
}

/* Home Section */
.home {
    width: 100%;
    height: 100vh;
    background: url(./assets/background-new.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}
.home nav{
    height: 80px;
}
.logo {
    padding-top: 20px;
    width: 40px;
    display: inline-block;
    margin-left: 5%;
}
.home ul {
    float: right;
    list-style: none;
    margin-right: 5%;
}
.home ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 30px;
}
.home ul li a {
    text-decoration: none;
    color: white;
    font-size: 12px;
    text-transform: uppercase;
}
.home ul li a:hover {
    color: #EFB442;
}
label #btn,
label #close {
    color: white;
    font-size: 30px;
    float: right;
    margin-right: 10%;
    line-height: 80px;
    cursor: pointer;
    display: none;
}
#check {
    display: none;
}
.home .hero {
   display: grid;
   width: 100%;
   height: 80%;
   margin: 0 10%; 
   align-content: center;
}
.home .hero-home h2{
    margin: 20px 0;
    font-size: 50px;
    color: white;
}
.home .hero-home a {
    position: relative;
    top: 100px;
    font-size: 15px;
    text-transform: uppercase;
    color: #EFB442;
    text-decoration: none;
    padding: 15px;
    border: 2px solid #EFB442;
}
.home .hero-home a:hover {
    color: white;
    background-color: #EFB442;
}
/* End Home Section */


/* About Section */
.about {
    width: 100%;   
    height: 100vh;
}
.about .about-container {
    padding: 13% 10%;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
}
.about .profil {
    width: 500px; 
    height: 523px;
}
.about .profil-me {
    max-width: 80%;
    display: grid;
    padding-left: 80px;
    text-align: center;
    place-items: center;
    color: white;
}
.about .profil-me p {
    font-size: 22px;
    font-weight: 100;
    margin-bottom: 100px;
    margin-top: 25px;
}
.about .profil-me h3 {
    font-size: 22px;
    font-weight: lighter;
    width: 700px;
}
.about .profil-me h3 span{
    color: #EFB442;
}
.about .profil-me h2 {
    font-size: 22px;
    font-weight: bold;
    margin-top: 20px;
}
/* End About Section */


/* Portfolio */
.portfolio {
    width: 100%;   
    height: 100vh;
    padding: 10%;
}
.portfolio h1 {
    text-align: center;
    margin-bottom: 50px;
}
.portfolio .box-container {
    display: flex;
    overflow: auto;
    outline: 1px solid #EFB442;
    border-radius: 10px;
    flex: none;
}
.portfolio .box-container {
    width: 100%;
    height: 500px;
    flex-flow: row nowrap;
    scroll-snap-type: x mandatory;
}
.portfolio .box {
    scroll-snap-align: center;
    width: 400px;
    margin: 30px 8px;
    flex: none;
    border: 1px solid #EFB442;
    border-radius: 8px;
}
.portfolio .box .image{
    height: 300px;
    overflow:hidden;
    width: 100%;
    background-color: white;
}

.portfolio .box .image img{
    place-items: center;
    height: 100%;
    object-fit:scale-down;
    width: 100%;
}

.portfolio .box:hover .image img{
    transform: scale(1.1);
}

.portfolio .box .content{
    padding:2rem;
}

.portfolio .box .content .title{
    text-decoration: none;
    font-size: 1.5rem;
    line-height: 1.5;
    color:white;
    font-weight: bold;
}

.portfolio .box-container .box .content .title:hover{
    color: #EFB442 ;
}
.portfolio .box .content p {
    font-size: 1.2rem;
    color: white;
}
/* End Portfolio */

/* Contact */
.contact {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}
.contact h1 {
    padding-top: 50px;
}
.contact h2 {
    font-size: 24px;
    color: #EFB442;
    padding-bottom: 50px;
    text-decoration: underline;
}
.contact .box-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.contact .box-contact {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 25px;
    border: 2px solid #EFB442;
    border-radius: 10px;
    text-decoration: none;
    justify-items: center;
    align-items: center;
    margin: 25px;
    background-color: #263138;
}
.contact .box-contact p {
    font-size: 30px;
    color: white;
    margin-right: 10px;
    font-family: 'Playfair Display', serif;
}
.contact .box-contact i{
    font-size: 30px;
    color: #1a1f22;
}
.contact .box-contact:hover {
    background-color: #EFB442;
}
/* End Contact */



@media screen and (max-width: 992px){
    h1 {
        font-size: 40px;
    }
    /* header section */
    label #btn {
        display: block;
    }

    .home ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 40%;
        height: 40vh;
        margin-right: 0;
        right: -100%;
        top: 50;
        background-color: #1a1f2280;
        text-align: center;
        transition: .5s;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }

    .home ul li {
        line-height: 10px;
        margin:auto 0;
    }

    #check:checked ~ ul {
        right: 0;
    }
    #check:checked ~ label #btn {
        display: none;
    }
    #check:checked ~ label #close {
        display: block;
    }
    .home .hero h2 {
        font-size: 25px;
    }
    .home .hero .hero-home a {
        font-size: 15px;
    }
    /* End Header Section */



    /* About Section */
    .about {
        margin: 100px 0;
    }
    .about .about-container{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .about .profil {
        width: 250px;
        height: 270px;
    }
    .about .profil-me {
        padding: 0;
    }
    .about .profil-me h1 {
        margin-top: 50px;
    }
    .about .profil-me p {
        font-size: 15px;
        width: fit-content;
    }
    .about .profil-me h3 {
        font-size: 15px;
        width: fit-content;
    }
    .about .profil-me h2 {
        font-size: 15px;
    }
    /* End About Section */




    /* contact */
    .contact .box-contact {
        display: flex;
        justify-content: space-between;
        padding: 10px 10px;
        margin: 10px;
        border-radius: 50%;
    }
    .contact .box-contact p {
        display: none;
    }
    .contact .box-contact i {
        font-size: 15px;
    }
    /* end contact */
}
